
<div class="container mt-4">
    <div>
        <h2>Listado de productos</h2>
    </div>
    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Nombre Producto</th>
            <th>Precio Producto</th>
            <th>Detalle Producto</th>
            <th>Total</th>
            <th>Acciones</th>
            <th>Imagen</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{ producto.id_producto }}</td>
            <td>{{ producto.nombreproducto }}</td>
            <td>{{ producto.precioproducto }}</td>
            <td>{{ producto.detalleproducto}}</td>
            <td>{{ producto.preciototal | number: '1.2-2' }}</td>
            <img [src]="'../../assets/productos/' + producto.imagenproducto" style="max-width: 200px;">
    
            <td>
             <button (click)="editarProducto(producto.id_producto)" class="btn btn-sm me-3">Editar</button>
            <button class="btn " (click)="eliminarProducto(producto.id_producto)">Eliminar</button> 
            </td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-primary" href="/productos-agregar">Ir a agregar</a>
</div>